altgraph==0.17
appdirs==1.4.4
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.2.1
distlib==0.3.1
docutils==0.16
filelock==3.0.12
Flask==1.1.2
Flask-Ext==0.1
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.1
future==0.18.2
gevent==20.9.0
greenlet==0.4.17
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==2.0.0rc3
kivy-deps.angle==0.2.0
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
kivy-deps.sdl2-dev==0.3.1
Kivy-Garden==0.1.4
kivycalendar3==0.0.3
MarkupSafe==1.1.1
numpy==1.19.2
pefile==2019.4.18
persiantools==1.5.0
Pillow==7.2.0
pycparser==2.20
pygame==1.9.6
Pygments==2.7.1
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pymodbus==2.4.0
pymongo==3.11.0
pypiwin32==223
PySDL2==0.9.7
pyserial==3.4
python-engineio==3.13.2
python-socketio==4.6.0
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.24.0
sdl2-cython==0.2.1
serial==0.0.97
six==1.15.0
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.10
virtualenv==20.0.33
websocket==0.2.1
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.1.2
